<h1>Add Restaurants</h1>

<div *ngIf="alertStatus"
class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Restaurant has been added successfully.
    <button (click)="closeAlert()" 
    type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="addResto" (ngSubmit)=collectResto()>
    <div class="form-group">
        <label for="exampleInputName1">Name</label>
        <input type="name" class="form-control" placeholder="Enter Name" formControlName="name">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
    </div>

    <div class="form-group">
        <label for="exampleInputAddress1">Address</label>
        <input type="address" class="form-control" placeholder="Enter Address" formControlName="address">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>