<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Resto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/add']"> Add Restaurant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""> List Restaurant</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="register"> Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login"> Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
  
</div>
<footer>
  <p>Register your restaurant with us</p>
</footer>

